<% type = (current_user == message.user) ? 'sent' : 'received' %>
<div class="col-xs-12">
  <div class="message <%= type %>">
    <p><%= message.created_at.strftime("%A, %d.%m - %H:%M") %></p>
    <img class="avatar avatar-message" id="card-user" src="<%= cl_image_path message.user.photo_url || "http://www.fillmurray.com/g/60/60" %>">
    <div class="message-content">
      <p><%= message.content %></p>
    </div>
  </div>
</div>


