<div class="message received">
  <div class="col-xs-12">
    <p><%= message.created_at.strftime("%A, %d.%m - %H:%M") %></p>
    <div class="message-content received">
      <p><%= message.content %></p>
    </div>
  </div>
</div>
