
.dog-profile {
  display: flex;
}

h2, h3, h4, h5 {
  text-align: center;
}


#pup {
  margin-top: 15px;
}

.availability-class {
  border-style: solid;
  margin-top: 10px;

}

.banner-dashboard {

}
