
.dog-profile {
  display: flex;
}

h2, h3, h4, h5 {
  text-align: center;
}


#pup {
  margin-top: 15px;
}

.availability-class {
  border-style: solid;
  margin-top: 10px;
}

.dashboard {
  h2 {
    padding-right: 20%;
    padding-left: 20%;
    font-size: auto;
  }

  .fa {
  padding-right: 15px;
  }
}
