/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


 h1 {
  font-size: 40px;
}

p {
  font-size: 25px;
}




html, body, {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 375px) {
  .video_box {
    overflow: hidden;
    height: calc(100vh - 70px);
  }

  .embed-responsive video {
      top: -7%;

  }
}


.videobanner {
  position: relative;
  color: #346660;
  top: 19%;
  left: 1%;
  margin-top: 14%;
  margin-bottom: 2%;
  text-shadow: 0 0 0 #000;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  .fa {
    color: #346660;
  }
}

.videobanner h1 {
  color: white;
}

.owner {
  position: relative;
  font-size: 31px;
  color: white;
  background-color: rgba(52, 102, 96, 0.2);
  border-radius: 18px;
  padding: 13px;
  border: 2px solid #346660;
  left: -5%;
  text-shadow:0 0 0 #000;
  top: 50px;

  .fa {
    font-size: 42px;
    color: #346660;
  }
}

.borrower {
  position: relative;
  font-size: 31px;
  color: white;
  background-color: rgba(52, 102, 96, 0.2);
  border-radius: 18px;
  padding: 13px;
  border: 2px solid #346660;
  left: 5%;
  text-shadow:0 0 0 #000;
  top: 50px;


  .fa {
    font-size: 42px;
    color: #346660;
  }
}



@media only screen and (max-width: 375px) {
  h1 {
  font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}


@media only screen and (max-width: 375px) {


   .owner {
    position: relative;
    font-size: 11px;
    color: white;
    background-color: transparent;
    border-radius: 18px;
    padding: 8px;
    border: 2px solid #346660;
    left: -3%;
    text-shadow:0 0 0 #000;
    top: 8px;

    .fa {
      font-size: 20px;
      color: #346660;
    }
  }

  .borrower {
    position: relative;
    font-size: 11px;
    color: white;
    background-color: transparent;
    border-radius: 18px;
    padding: 8px;
    border: 2px solid #346660;
    left: 0%;
    text-shadow:0 0 0 #000;
    top: 8px;


    .fa {
      font-size: 20px;
      color: #346660;

    }
  }
}


.container {
  text-align: center;
}





