/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


 h1 {
  font-size: 4vw;
  text-shadow: 1 1 1 #000;
}

h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 2.5vw;
  text-shadow: 1 1 1 #fff;
  font-family: PT Sans;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}



@media only screen and (min-width: 375px) {
  .video_box {
    overflow: hidden;
    height: calc(100vh - 70px);
  }

  .embed-responsive video {
      top: -7%;

  }
}


.videobanner {
  position: relative;
  color: #c67378;
  top: 19%;
  left: 1%;
  margin-top: 14%;
  margin-bottom: 2%;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  .fa {
    color: #96b976;
  }
}

.videobanner h1 {
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.videobanner p {
  color: white;
  font-size: 2.5vw;
  text-shadow: 1px 1px 1px #000;
  font-family: PT Sans;

}

.owner {
  position: relative;
  font-size: 2vw;
  color: white;
  background-color: rgba(150, 185, 118, 1);
  border-radius: 18px;
  padding: 19px;
  left: 28%;
  text-shadow: 1px 1px 1px #000;
  top: 50px;
  box-shadow: 1px 1px 1px #000;

  .fa {
    font-size: 2vw;
    color: #1A2930;
  }
}

.owner:hover {
  background-color: #739356;
}

.borrower {
  position: relative;
  font-size: 2vw;
  color: white;
  background-color: rgba(150, 185, 118, 1);
  border-radius: 18px;
  padding: 19px;
  left: 38%;
  text-shadow: 1px 1px 1px #000;
  top: 50px;
  box-shadow: 1px 1px 1px #000;


  .fa {
    font-size: 2vw;
    color: #1A2930;
  }
}

.borrower:hover {
  background-color: #739356;
}




@media only screen and (max-width: 375px) {
  h1 {
  font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .videobanner p {

  font-size: 15px;

}
}


@media only screen and (min-width: 781px) {


   .owner {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 17%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;
    }
  }



  .borrower {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 23%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;

    }
  }
}


.container {
  text-align: center;
}


@media only screen and (min-width: 1066px) {


   .owner {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 18%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;
    }
  }



  .borrower {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 24%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;

    }
  }
}

@media only screen and (min-width: 591px) {


   .owner {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 18%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;
    }
  }



  .borrower {
    position: relative;
    font-size: 3vw;
    color: white;
    background-color: #96b976;
    border-radius: 12px;
    padding: 13px;
    left: 27%;
    text-shadow: 0 0 0 #000;
    top: 26px;

    .fa {
      font-size: 20px;
      color: #1A2930;

    }
  }
}





