
.box-dog {
  background-color: rgba(128, 128, 128, 0.08);
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 20px;

.btn-primary {
  border-radius: 8px;
  padding: 10px;
}

.back {
  background-color: rgba(0, 0, 0, 0.32);

}

.fa {
  padding-right: 15px;
}

.row {
  padding-top: 30px;

}

h2, {
  font-size: 1.5vw;
  text-align: left;
}

p {
  font-size: 1.5vw;
}

}

.map {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #3D3D3B;


}

.dogsize {
  width: 74%;
}







  .banner-content {

    padding-top: 51px;

    .fa {
      padding-right: 8px;
    }

  }

img {
    vertical-align: middle;
    margin-bottom: 20px;
    width: 100%;
}




