<h1>THis is the dog!</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%=  @dog.name %></h2>
      <p><%= @dog.description %></p>
      <p><%= @dog.breed %></p>
      <%= cl_image_tag @dog.photo, height: 250, width: 400, crop: :fill %>
      <p></p>
    </div>
  </div>
</div>
