

<div class="container">
  <div class="row">
  <h1>My dog friends</h1>
<!--     @requests.sort! { |a,b| a.created_at <=> b.created_at } -->

      <% @requests.each do |request| %>
        <div class="col-xs-12">
        <!-- insert <div class="card"> -->
          <div class="card messages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
              <h2>Me talking to<%= request.dog.name %></h2>
              <h3>His awesome master <%= request.user.first_name %></h3>
              <% if @last_message.nil? %>
                <p>No Messages yet - send a message now!</p>
              <% else %>
                <p><%= @last_message[:content] %></p>
              <% end %>
            <a class="card-link" href="<%= request_path(request) %>" ></a>
          </div>
      <% end %>

  </div>
</div>
