<div class="banner dashboard" style="background-image: url('<%= cl_image_path "teddyball_qsbmko"%>');">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>My Messages</h1>
    </div>
    <div class="col-xs-6">
      <h1>My dogs</h1>
    </div>
  </div>
</div>



