<div class="banner dashboard" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1><%= t('.title') %></h1>
  </div>
</div>

<div class="container">
  <div class="row">

      <div class="dashboard">
        <div class="col-xs-12 div col-md-6">
          <div class="profile">
          <h2><%= t('.messages_title') %></h2>

          </div>
        </div>
        <div class="col-xs-12 div col-md-6">
          <div class="dogs">
          <h2><%= t('.dogs_title') %></h2>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

