
    <div class="video_box">
    <div  class="embed-responsive embed-responsive-16by9 container-fluid">


    <div class="row">
        <video autoplay muted loop class="embed-responsive-item video-banner" id="autovid" width="100%" >
            <source src="<%=cl_video_path "teddy_o2hp1u"%>">

        </video>

      <div class="videobanner text-center">
        <h1>Connecting dog lovers and dog owners</h1>
        <p class="text-center">to share the <i class="fa fa-heart" aria-hidden="true"></i> for dogs with locals</p>
        <br><br>
      </div>

          <div class="banner-content">
            <a class="owner"><i class="fa fa-paw" aria-hidden="true"></i> I am a dog owner</a>

            <a class="borrower"><i class="fa fa-blind" aria-hidden="true"></i>I want to borrow a dog</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
    <h1> How it works </h1>
    <br><br>
    </div>
