// Your footer style
.footer-bottom {
  background-color: black;
  color: white;
  height: 42px;
  width: 100%;
  padding-top: 13px;

}

.footer-bottom p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  margin: 0px;
}


@media only screen and (min-width: 375px) {
  p {
    font-size: 10px;
  }
}


