// Your footer style
.footer-bottom {
  background-color: #1A2930;
  min-height: 57px;
  width: 100%;
  color: white;
  padding-top: 14px;
  padding-left: 10px;
  text-align: center;
}

.footer p {
  font-family: 'Gudea', sans-serif;
  font-size: 0.5em;
}

.footer p {
  font-family: 'Gudea', sans-serif;
  flex: 1;
  font-size: 20px;
}
