@import "utilities";
@import "footer";
@import "navbar";


.container-index {
}


.location-wrap {
  color: black;
  background-color: white;
  margin-top: 60%;


 p {
  font-size: 1.0vmax;
  display: inline;
  padding-right: 5px;
 }

}
.dog-options {
  position: relative;


}
