@import "utilities";
@import "footer";
@import "navbar";


.location-wrap {
  color: black;
  background-color: white;
  margin-top: 60%;


 p {
  font-size: 1.0vmax;
  display: inline;
  padding-right: 5px;
 }

}
.dog-options {
  position: relative;


}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
