@import "utilities";
@import "footer";
@import "navbar";


.location-wrap {
    color: black;
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;


 p {
  font-size: 1.0vmax;
  // display: inline;
  padding-right: 5px;
 }

.fa {
  padding-right: 5px;
}
}

.dog-options {
  position: relative;
}


.ais-search-box--input {
  border: 2px dotted white;
  font-family: "PT Sans";
  height: 40px;
  padding: 0 8px;
  width: 100%;
  color: #636363;
  margin-top: 20px;
  margin-bottom: 20px;
}


.ais-header {
  color: #96B976;
  text-align: center;
  font-family: "Itim", "Helvetica", "sans-serif";
  text-transform: uppercase;
  font-size: 30px;

}

.ais-refinement-list--label {
  color: black;
  font-family: "PT Sans", "Helvetica", "sans-serif";
  font-size: 17px;

}


html, body, {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
}




.ais-infinite-hits--showmore {
  clear: both;
  text-align: center;
  margin-top: 20px;

  button {
    border-radius: 5px;
    line-height: 32px;
    background-color: transparent;
    color: #1A2930;
    border: 2px solid #1A2930;
  }

  button:hover {
    color: white;
    background: #96B976;
    border-color: #96B976;
  }

  button[disabled] {
    opacity: 0.3;

  }
}

.ais-body {
  border: 1px solid #96B976;
}

.ais-search-box--powered-by {
  font-family: "PT Sans", "Helvetica", "sans-serif";
  text-decoration: none;
  color: white;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-bottom: 10px;

  a {
    color: white;
    font-size: 10px;
  }

}
