.card {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 9px;
  box-shadow: 1px 1px 1px 1px #888888;
  margin-bottom: 19px;
  background-position: center center;
  text-align: center;

  p {
    text-shadow: none;
    font-size: 17px;
  }

  a {
    color: #96B976;
    text-decoration: none;
  }
  h2 {
    font-size: 3.0vmax;
  }
}

.card-banner {
  position: relative;
  text-align: center;


}

#card-user {
  padding: 5px;

}



.card-category {
  position: relative;
  top: 10px;
  font-size: 10px;
  text-transform: uppercase;

  h2 {
    color:white;

  }
}



.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.container-index {
  position: relative;
  margin-right: 36px;
  margin-left: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ais-infinite-hits--showmore {
  clear: both;
  text-align: center;
  margin-top: 20px;
}
