.card {
  height: 413px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
  margin: 10px 0;
}

.card.messages {
  height: 100px;
  color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin: 10px 0;
}

.card.messages h2 {
padding-top: 10px;
  font-size: 24px;
}

.card.messages h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card.messages p {
  font-size: 14px;
  color: black;
  padding: 0 0 5px 0;
}

.card-user {
  position: relative;
  right: -1px;
  top: 187px;
}

.banner-card {
  position: relative;
  top: -91px;
  color: white;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0px;
  height: 79px;
  margin-top: 12px;
  padding: -139px;
  z-index: 0;
}


.card-category {
  position: relative;
  top: 10px;
  left: -3px;
  font-size: 10px;
  text-transform: uppercase;

  h2 {
    color:white;
  }
}
.card-description {
  position: relative;
  top: 300px;
  color: black;
  z-index: 1;

  .fa {
    color: black;
  }
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
