#mc_embed_signup {
  background:#000000;
  clear:left;
  font-family: 'PT Sans', sans-serif;
  width:100%;
  p {
    margin-top: 20px;
  }

  label {
    font-family: 'Itim', sans-serif;
    font-size: 32px;
  }
}

input#mc-embedded-subscribe.button {
  background-color: #ea3838;
  color: white;
}

label#mc_embed_signup_scroll {
  color: green;
}

#mc_embed_signup_scroll {
  margin: 0 20px;
}

#love {
  color: grey;
}
