.message p {
  font-size: 18px;
  margin: 10px 0;
}

.messages p {
  font-size: 24px;
  margin: 10px 0;
}


.card.messages {
  background-color: grey;
  margin: 10px 0;
}

.message.received {
  p {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    text-align: left;
  }

  .avatar-message {
    float: left;
    margin-right: 10px;
  }

  .message-content {
    background-color: #e2dcdc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0.5px 0.5px 1px #888888;
    color: #ffffff;
    width: 70%;
    float: left;

    p {
      text-align: left;
      font-size: 24px;
    }
  }
}

.message.sent {
  p {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    text-align: right;
  }

  .avatar-message {
    float: right;
    margin-left: 10px;
  }

  .message-content {
    background-color: #96B976;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0.5px 0.5px 1px #888888;
    color: #ffffff;
    width: 70%;
    float: right;
    word-wrap: break-word;
    margin-bottom: 30px;

    p {
      text-align: left;
      font-size: 24px;
    }
  }
}




