.avatar-show {
    width: 622px;
    border-radius: 46%;
    z-index: 2;
    margin-top: 7%;
}

img {
    vertical-align: middle;
    width: 45%;
}

.user-info-show img {
  width: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.user-info-show h3 {
  font-size: 1.5vw;
}


.user-info-show {
  background-color: #F5F5F5;

  padding: 10px;
  padding-top: 20px;
  text-align: center;

  p {
    font-size: 2vw;
    padding-left: 17px;

  }

  .fa {
    font-size: 8px;
    padding-right: 15px;

  }

}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-top: 32px;
}

.go-back {

  a {
  color: white;
  text-decoration: none;
  background-color: rgba(26, 41, 48, 0.74);
  border-radius: 8px;
  padding: 10px;
  display: block;
  margin-top: 219px;
  margin-left: 10px;
  width: 182px;
}
}


